.buttonSinein{
    margin-left: 70px;
    width: 100px;
 }
 .texthome{
    margin-left: 20px;
 }
 .col01{
    background-color:rgba(141, 191, 237, 1);
 }
 .welcometext{
    margin-left: 50px;
    margin-top: 120px;
    
 }
 .homeicone{
   margin-left: 70px;
 }
 .getintuch{
   margin-left: 40px;
 }
