.buttonSinein{
    margin-left: 70px;
    width: 100px;
 }
 .texthome{
    margin-left: 20px;
 }
 .col01{
    background-color:rgba(141, 191, 237, 1);
 }
 .welcometexthome{
    margin-left: 50px;
    margin-top: 120px;
    
 }
 .homeicone{
   margin-left: 70px;
 }
 .getintuch{
   margin-left: 40px;
 }

/*Contact.css*/

 .contactdiv1{
   margin-top: 20px;
   margin-left: 50px;
   background-color: rgba(164, 203, 205, 1);
}

.contactDImage{
   width: 550px;
   height: 450px;
}

.contactdiv2{
   margin-top: 130px;
   margin-left: 150px;
}
.contactbg{
   background-color: rgba(164, 203, 205, 1);
}
.contacButton{
   margin-left: 110px;
   width: 200px;
   height: 40px;
   background-color: black;
   color: white;
   font-weight: bolder;
   font-size: larger;
   border-radius: 10px;
   margin-top: 10px;
}
.contactText{
   font-size: large;
   font-weight: bolder;
}
.contactTextbox{
   margin-left: 50px;
   width: 300px;
   margin-top: 20px;
}
.contactTextboxA{
   margin-left: 54px;
   width: 300px;
   margin-top: 20px;
}
.contactTextA{
   margin-left: 110px;
   width: 300px;
   height: 90px;
   margin-bottom: 10px;
}
.contactmasg{
   font-size: large;
   font-weight: bolder;
   margin-top: 50px;
}